@import 'assets/styles/variable.sass'

.client-wrap
  height: 1422px
  .client-logos
    margin-top: 90px
    .logo-wrap
      margin-top: 60px
      @include flex-box($JC: space-between, $FW: wrap)
      .logo-item
        width: 25%
        margin-bottom: 45px
        @include flex-box($AI: center)
        &:nth-of-type(4n-1)
          justify-content: center
        &:nth-of-type(4n)
          justify-content: flex-end
    .more
      text-align: center
      margin: 40px 0 97px
  .client-intro
    @include flex-box($JC: space-between, $FW: wrap)
    .client-item
      background: #F5F5F5
      padding: 20px
      width: 530px
      height: 297px
      margin-bottom: 100px
      .text
        font-size: 18px
        color: #656565
        line-height: 30px
      .name
        font-size: 20px
        line-height: 40px
        color: #040404
        margin-top: 25px
        font-family: 'Open Sans'
        font-weight: bold
      .info
        font-size: 14px
        color: #494949
        margin-bottom: 20px
        font-family: 'Open Sans'
        font-weight: bold
      img
        width: 25px
        height: 25px