@import 'assets/styles/variable.sass'

.client-wrap
  // height: 1422px
  height: 600px
  .client-logos
    margin-top: 25px
  .logo-wrap
    position: relative
    margin-top: 60px
    @include flex-box($JC: space-between, $FW: wrap)
    .logo-item
      width: 25%
      margin-bottom: 45px
      @include flex-box($AI: center)
      &:nth-of-type(4n-1)
        justify-content: center
      &:nth-of-type(4n)
        justify-content: flex-end
  .more
    text-align: center
    margin: 40px 0 97px
  .client-intro
    @include flex-box($JC: space-between, $FW: wrap)
    .client-item
      background: #F5F5F5
      padding: 20px
      width: 530px
      height: 297px
      margin-bottom: 100px
      .text
        font-size: 18px
        color: #656565
        line-height: 30px
      .name
        font-size: 20px
        line-height: 40px
        color: #040404
        margin-top: 25px
        font-family: 'Open Sans'
        font-weight: bold
      .info
        font-size: 14px
        color: #494949
        margin-bottom: 20px
        font-family: 'Open Sans'
        font-weight: bold
      img
        width: 25px
        height: 25px

.is-phone .client-wrap
  height: auto
  // min-height: 6rem
  min-height: 4rem
  .logo-wrap
    margin-top: 0.3rem
    mix-blend-mode: luminosity
    opacity: 0.5
    .logo-item
      width: 33%
      justify-content: flex-start
      margin-bottom: 0.2rem
      &:nth-of-type(3n-1)
        justify-content: center
      &:nth-of-type(3n)
        justify-content: flex-end
      img
        width: 80%
  .client-intro
    display: block
    position: relative
    .item-wrap
      height: 3.64rem
      .client-item
        width: 3.1rem
        height: auto
        margin: 0
        text-align: left
    // .carousel .control-dots .dot
    //   width: 0.25rem
    //   height: 0.03rem
    //   background: #F5F5F5
    //   border-radius: 0
    //   opacity: 1
    //   &.selected
    //     background: $theme-red
