@import 'assets/styles/variable.sass'

.text-animation-wrap
  position: relative
  min-height: 750px
  padding: 50px 0
  &.left-text
    @include flex-box($JC: space-between)
    .title-part
      margin-right: 40px
    .animation-part
      flex: 1
  &.right-text
    @include flex-box($JC: space-between)
    .title-part
      order: 2
  &.up-text
    .title-part
      width: 600px
      margin: 0 auto
    .animation-part
      width: 100%
  .title-part
    position: relative
    .title-wrap
      overflow: hidden
      margin-bottom: 50px
      .title
        font-size: 44px
        color: $title-color
        line-height: 60px
        font-weight: 600
    .intro-wrap
      position: relative
      line-height: 28px
      &.sub-title
        font-family: 'Gilroy-Bold'
        color: $title-color
        text-transform: uppercase
        margin-bottom: 15px
      p
        margin-bottom: 20px
        letter-spacing: 1px
  .animation-part
    position: relative

.is-phone
  .text-animation-wrap
    .title-part
      width: auto !important
      margin-top: 0 !important
      .title
        font-size: 0.32rem
        line-height: 0.38rem