{{!-- <h1>{{this.title}}</h1> --}}
<div class="main intro">
  <div id="pixi-bg">

  </div>
  <div class="header-sec">
    <h1 class="bold">
      Experiences <br>
      Matters.
    </h1>
  </div>
  <div class="content">
    <div class="content-left-bg"></div>
  </div>
</div>