{{!-- <h1>{{this.title}}</h1> --}}
<div class="main vizient">
  <div class="project-header">
    <div style="background-image: url({{image.src}})" alt="" class="project-img"></div>
    <div class="project-info">
      <p class="project-name">Vizient</p>
      <p class="project-label">Helping millions of parents get a great education for their child</p>
    </div>
  </div>
</div>
</div>