@import 'assets/styles/variable.sass'

.story-wrap
  @include flex-box($JC: space-between, $AI: flex-start)
  padding-top: 120px
  .left-part
    height: 50px
    .title-wrap
      overflow: hidden
      .title
        font-size: 44px
        font-weight: 600
        line-height: 1
        color: $title-color
  .right-part
    width: 600px
    position: relative
    .text
      margin-bottom: 70px
      p
        font-size: 16px
        line-height: 28px
        margin-bottom: 30px
        &:last-child
          margin-bottom: 0
    .data-wrap
      @include flex-box($FW: wrap)
      .data-item
        @include flex-box
        width: 50%
        margin-bottom: 70px
        &:last-child
          margin-bottom: 0
        .icon
          width: 86px
          margin-right: 30px
          img
            width: 86px
        .number
          div
            font-size: 48px
            line-height: 1
            font-family: 'Gilroy-Bold'
            color: $title-color
            margin-bottom: 10px
            span
              margin-right: 10px
            img
              vertical-align: top
          p
            font-size: 16px
            color: $title-color

.is-phone
  .story-wrap
    display: block
    // height: 9.12rem
    .title-wrap
      margin-bottom: .24rem
      .title
        font-size: 32px
        font-weight: 500
    .right-part
      width: auto
      .text
        margin-bottom: .24rem
        p
          margin-bottom: .15rem
          &:last-child
            margin-bottom: 0
      .data-wrap
        display: block
        .data-item
          width: auto
          margin-bottom: .4rem
          &:last-child
            margin-bottom: 0