@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/GoogleSansRegular.eot');
  src: url('../fonts/GoogleSansRegular.eot') format('embedded-opentype'),
       url('../fonts/GoogleSansRegular.woff2') format('woff2'),
       url('../fonts/GoogleSansRegular.woff') format('woff'),
       url('../fonts/GoogleSansRegular.ttf') format('truetype'),
       url('../fonts/GoogleSansRegular.svg#GoogleSansRegular') format('svg');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
       url('../fonts/OpenSansBold.woff2') format('woff2'),
       url('../fonts/OpenSansBold.woff') format('woff'),
       url('../fonts/OpenSansBold.ttf') format('truetype'),
       url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
