@mixin flex-box($JC: flex-start, $AI: center, $FD: row, $FW: nowrap, $F: flex) {
  display: $F;
  justify-content: $JC;
  align-items: $AI;
  flex-direction: $FD;
  flex-wrap: $FW;
}

$desktop-lg-min: 1400px;
$desktop-min: 992px;
$tablet-min: 768px;
$desktop-max: 1399px;
$tablet-max: 991px;
$mobile-max: 767px;