.bold {
  font-weight: bold;
}
.main {
  width: 100vw;
  min-height: 100vh;
}
.grey {
  color: #656565;
}
.content {
  width: 100vw;
  min-height: calc(100% - 300px);
  background: wwhite;
  position: relative;
}
@import './intro.scss';
