@import 'assets/styles/variable.sass'

.go-to-arrow
  @include flex-box($AI: center)
  .arrow-wrap
    width: 60px
    height: 60px
    @include flex-box($JC: center, $AI: center)
    cursor: pointer
    .arrow-sec
      width: 0
      height: 0
      line-height: 60px
      border-radius: 50%
      background: #DD2C03
      @include flex-box($JC: center, $AI: center)
  span
    font-size: 14px
    color: #040404
    font-family: 'Open Sans'
    font-weight: bold
    margin-left: 30px
    opacity: 0
    cursor: pointer