@import 'assets/styles/variable.sass'

.challenge-wrap
  height: 676px
  .title-part
    height: 94px
    .title-wrap
      overflow: hidden
  .content-wrap
    margin-top: 150px
    @include flex-box($JC: space-between)
    .challenge-item
      width: 310px
      .icon
        // width: 85px
        // height: 85px
        margin-bottom: 40px
      .name
        font-size: 26px
        line-height: 28px
        font-family: 'Gilroy-Bold'
        margin-bottom: 15px
        color: $title-color
      .text
        line-height: 28px
    &.is-white
      color: #fff
      .name
        color: #fff
