@import 'assets/styles/variable.sass'

.common-title
  &.white
    .title,.intro
      color: #FFF
  .title
    color: $title-color
    line-height: 1
    font-weight: 600
  .intro
    color: #656565
    letter-spacing: 1px

.is-phone .common-title
  .title
    font-weight: 500