body {
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.preload {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;
  touch-action: none;
}
.preload svg {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.preload svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 4;
}
.preload svg .st0 {
  opacity: 0;
}
#Polystar_1 {
  opacity: 0;
}
@media (max-width: 800px) {
  .preload svg {
    transform: scale(2);
  }
}

.project-image-container .project-image {
  transform: scale(1);
  transition: transform .5s ease-in-out;
}

.project-image-container .project-image:hover {
  transform: scale(1.1);
}

.fiton-comment .card-title {
  font-size: 22px !important;
}
.fiton-comment .comment-card-item {
  background-color: #fff;
  margin: 0 10px !important;
}
.fiton-comment .comment-card-item .card-content{
  line-height: 24px !important;
}

.fiton-comment .Psgip .carousel .control-dots .dot {
  background-color: #fff;
}