@import './variable.sass'
@import './reset.css'

@font-face
  font-family: 'Gilroy-Regular'
  src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype')
@font-face
  font-family: 'Gilroy-Medium'
  src: url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype')
@font-face
  font-family: 'Gilroy-Bold'
  src: url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype')

@font-face
  font-family: 'GoogleSans-Regular'
  src: url('../fonts/Google-Sans-Font/GoogleSans-Regular.ttf') format('truetype')
@font-face
  font-family: 'GoogleSans-Medium'
  src: url('../fonts/Google-Sans-Font/GoogleSans-Medium.ttf') format('truetype')
@font-face
  font-family: 'GoogleSans-Bold'
  src: url('../fonts/Google-Sans-Font/GoogleSans-Bold.ttf') format('truetype')

body
  color: $font-color
  font-size: 16px
  font-family: 'Gilroy-Regular'
  line-height: 24px
  box-sizing: border-box
  margin: 0 auto

.layout-1240
  width: 1240px
  margin: 0 auto

.bold
  font-weight: bold

.main
  width: 100%
  min-height: 100vh

.grey
  color: #656565

.content
  width: 100%
  min-height: calc(100% - 300px)
  background: wwhite
  position: relative

.logo-img
  position: absolute
  top: 30px
  left: 30px
  cursor: pointer
  user-select: none
  z-index: 3

.panel
  padding: 100px 0



@import './intro.scss'
@import './projects.scss'