@import './variable.sass';

.main.intro {
  position: relative;
  background: #111;
  video {
    max-width: 1920px;
    margin: 0 auto;
    display: block;
  }

  #pixi-bg {
    width: 100%;
    height: 800px;
    background-color: #2c2c2c;
    overflow: hidden;
  }
  .header-sec {
    // display: inline-block;
    position: relative;
    height: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    // left: 150px;
    top: 160px;
    overflow: hidden;
    width: 1280px;
    margin: 0 auto;
    // user-select: none;
    h1 {
      font-size: 56px;
      line-height: 70px;
      margin-bottom: 30px;
    }
    p {
      width: 472px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 1px;
      opacity: 0.5;
    }
  }
  .content .content-left-bg {
    position: absolute;
    z-index: 2;
    top: -60px;
    left: 0;
    background-color: #fafafa;
    width: 60%;
    max-width: 60%;
    height: 1300px;
  }
  .content .content-main {
    position: relative;
    z-index: 3;
    width: 1200px;
    margin: auto;
    min-height: 1300px;
    h2 {
      font-size: 44px;
      margin-bottom: 20px;
      margin-top: 0px;
    }
    .content-title {
      height: 0;
      overflow: hidden;
    }
  }
}
.project-list {
  @include flex-box($FW: wrap, $JC: space-between);
  .project-item-wrapper {
    height: 720px;
    width: 540px;
    margin-bottom: 100px;
    position: relative;
    &.sink-item {
      top: 80px;
    }
  }
  .project-item {
    height: 720px;
    width: 540px;
    cursor: pointer;

    .project-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.4s all ease;
      background-size: cover;
      background-position: center;
    }
    .project-info {
      width: 305px;
      height: 90px;
      line-height: 30px;
      position: absolute;
      padding-right: 100px;
      text-align: right;
      box-sizing: border-box;
      bottom: 80px;
      right: -30px;

      .info-bg-sec {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
        background-color: #f5f5f5;
        transform: skew(-20deg);
      }
      .project-name,
      .project-label {
        transition: transform 0.5s ease;
        position: relative;
        z-index: 4;
        margin: 0 0 0 0;
      }
      .project-name {
        margin-top: 20px;
        margin-left: 20px;
        font-weight: bold;
        font-size: 28px;
      }
      .arrow-sec {
        // width: 60px;
        // height: 60px;
        width: 0;
        height: 0;
        line-height: 60px;
        border-radius: 50%;
        background: white;
        position: absolute;
        left: 200px;
        bottom: 0px;
        transform: translateY(50%);
        z-index: 4;
        svg {
          margin: 24px auto;
          display: block;
        }
      }
    }
    .mask-sec {
      transform: rotateY(180deg);
    }
    .mask {
      width: 100%;
      height: calc(720px / 12);
      background: white;
      z-index: 2;
      position: relative;
    }

    &:not(.is-anim):hover {
      .project-img {
        transform: matrix(1, -0.03, 0, 1, 0, 0);
      }
      .project-name,
      .project-label {
        transform: translateX(-30px);
      }
    }
  }
}
