@import './variable.sass';

.ui-content.is-project {
  .vizient {
    .project-header {
      width: calc(100% -150px);
      margin-left: 150px;
      box-sizing: border-box;
      height: 624px;
      background-color: rgb(255, 78, 2);
      position: relative;
    }
    .project-img {
      width: 800px;
      position: absolute;
      right: 0;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .project-info {
      color: white;
      top: 100px;
      position: absolute;
      left: 100px;
    }
    .project-name {
      font-size: 44px;
      font-weight: bold;
      margin: 0 0 0 0;
      line-height: 1;
    }
    .project-label {
      display: none;
    }
  }
}
